<div class="row justify-content-center align-items-center custom">
    <div class="col-md-10 col-lg-8">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Hi!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Excel Converter is my Angular 8 project which allows me to explore a bit of the Angular Material, work on optimization and play a bit with files conversion using JS libraries. Checkout my projects on my <a href="https://github.com/krukkrz">github</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>

